.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(139, 160, 139);
  height: 75px;
}

.title {
  margin-right: 5rem;
  padding-left: 10px;
  color: rgb(54, 77, 54);
}
