.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-recipe {
  width: 80%;
  padding: 20px;
  background: rgb(210, 231, 210);
  box-shadow: 0 0 4px 2px rgba(134, 134, 128, 0.212);
  border-radius: 10px;
}

.title {
  text-align: center;
}

.recipe-control {
  padding: 10px;
  display: grid;
}

.recipe-ingredient,
.recipe-time {
  display: flex;
  flex-wrap: wrap;
}

.recipe-ingredient label {
  min-width: 150px;
}

.recipe-control-ingredient {
  display: flex;
}

.btn-control {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
