<div class="container">
  <div class="form-recipe">
    <h2 class="title">Add Recipe</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="recipe-control recipe-name">
        <label for="recipeName">Recipe Name</label>
        <input
          id="recipeName"
          type="text"
          formControlName="recipeName"/>
          <p *ngIf="recipeForm.controls['recipeName'].touched &&
          recipeForm.controls['recipeName'].errors"
          class="text-error"
          >The recipe name can not be empty</p>
      </div>
      <div class="recipe-control recipe-description">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          rows="5"
          formControlName="description"></textarea>
          <p *ngIf="recipeForm.controls['description'].touched &&
          recipeForm.controls['description'].errors"
          class="text-error"
          >The description can not be empty</p>
      </div>
      <div class="recipe-control recipe-image">
        <label for="image">Image URL</label>
        <input
          id="image"
          type="text"
          formControlName="image"/>
          <p *ngIf="recipeForm.controls['image'].touched &&
          recipeForm.controls['image'].errors"
          class="text-error"
          >The image can not be empty</p>
      </div>
      <div class="recipe-control recipe-rating">
        <label for="rating">Rating</label>
          <span *ngIf="rating">Your rating: {{ rating }}</span>
          <button
            type="button"
            class="btn-rating"
            (click)="onIsRating()">Add rating</button>
      </div>
      <div formArrayName="ingredients">
        <div *ngFor="let ingredient of ingredientsFormArray; let i = index"
          [formGroupName]="i">
          <div>
            <div class="recipe-control recipe-ingredient">
              <div class="recipe-control-ingredient">
                <label for="ingredient">Ingredient Name</label>
                <input
                  id="ingredientName"
                  type="text"
                  formControlName="name"
                />
              </div>
              <div class="recipe-control-ingredient">
                <label for="ingredient">Quantity</label>
                <input
                  id="ingredientQuantity"
                  type="number"
                  formControlName="quantity"
                />
              </div>
              <div class="recipe-control-ingredient">
                <button
                  (click)="onRemoveIngredient(i)"
                  type="button"
                >X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          class="btn-add-ingredient"
          (click)="onAddIngredient()"
          type="button"
        >Add Ingredient</button>
      </div>
      <div class="btn-control">
        <button [disabled]="!recipeForm.valid" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isRating">
  <button class="backdrop" (click)="onCloseRating()"></button>
    <div class="modal-rating">
    <h2>Recipe rating</h2>
    <div class="rating">
      <form [formGroup]="ratingForm" (ngSubmit)="getRating()">
        <input formControlName="five" value="5" id="e5" type="radio"><label for="e5">☆</label>
        <input formControlName="four" value="4" id="e4" type="radio"><label for="e4">☆</label>
        <input formControlName="three" value="3" id="e3" type="radio"><label for="e3">☆</label>
        <input formControlName="two" value="2" id="e2" type="radio"><label for="e2">☆</label>
        <input formControlName="one" value="1" id="e1" type="radio"><label for="e1">☆</label>
        <div>
          <button type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-container *ngIf="error">
  <app-error-handling (error)="onHandlingError()">
    <p>{{ error }}</p>
  </app-error-handling>
</ng-container>


